
html, body, #root, .App {
    height: 100%;
}

body {
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;

    .task-flow-content {
        display: flex;
        flex: 1;
        min-height: 0;

        .task-flow-content-right {
            flex: 1;    

            .home, .material-library {
                height: 100%;
            }
        }
    }
}
